.App {
  text-align: center;
}

html {
  background-color: rgb(216, 216, 216);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(6, 6rem);
  box-shadow:
    rgb(50 50 93 / 25%) 0 6px 12px -2px,
    rgb(0 0 0 / 30%) 0 3px 7px -3px;
}

.result {
  grid-column: 1 / span 4;
  background-color: gray;
  text-align: right;
  padding: 2.25rem 2rem;
  font-size: 1.5rem;
  color: #fff;
}

button {
  border: 1px solid rgb(211, 211, 211);
  font-size: 1.3rem;
}

.zero {
  grid-column: 1 / span 2;
}

.operator-side {
  background-color: orange;
  transition: 0.3s;
}

.operator-side:hover {
  background-color: rgb(255, 123, 0);
  opacity: 0.8;
}

.operator-top,
.numeric {
  transition: 0.3s;
}

.operator-top:hover,
.numeric:hover {
  background-color: rgb(214, 214, 214);
}
